<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h2>Make a movie list</h2>

      <%= form_tag '/movies/search', :remote => true do |f| -%>
        <%= text_field_tag 'name', nil, placeholder: 'Search for a movie...', class: 'form-control', required: true %><br>
        <%= submit_tag "Search", class: 'btn btn-primary' %>
      <% end -%>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12">
      <div id="search-results">
          
      </div>
    </div>
  </div>
    
</div>