<h1>CipherMovies by Dan Visintainer</h1>

<%= form_tag '/movies/search', :remote => true do |f| -%>
  <%= label_tag 'Movie Name' %>
  <%= text_field_tag 'name' %>
  <%= submit_tag "Search" %>
<% end -%>

<div id="search-results">
  
</div>